<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<title>Редактирование пользователя</title>

<body>
<h2 align="center">Информация о пользователе:</h2>
<br>

<div align="center">
<form th:action="@{/admin/saveRole}" th:object="${role}">
    <table>
        <input type="hidden" th:field="*{id}"/>
        <tr>
            <td>Имя</td> <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Фамилия</td> <td><input type="text" th:field="*{surname}"/></td>
        <tr>
            <td>Департамент</td> <td><input type="text" th:field="*{department}"/></td>
        </tr>
        <tr>
            <td>Зарплата</td> <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td>Логин</td> <td><input type="text" th:field="*{login}"/></td>
        </tr>
        <tr>
            <td>Пароль</td> <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <td>Права</td>
        <td> <input type="text" th:field="*{roles}"/>
    </td>
        </tr>

    </table>
    <br><br>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
</div>
</body>
</html>






